/* :root {
    --color: #aaa;
    --background: #000;
    --size: 1.2;
    --glow: 1;
    --animation: terminal-blink;
}
.command, .directory {
    cursor: pointer;
} */

.terminal {
    --color: green;
    --background: white;
    --link-color: darkblue;
    --animation: terminal-underline;
    --line-thickness: 3;
    --size: 1.5;
}

.terminal {
    --color: rgba(0, 200, 0, 0.99);
    --animation: terminal-glow;
    --glow: 1;
}

